<div class="container">
<div class="alert alert-success" role="alert" *ngIf="successMessage.showSuccess">
  {{successMessage.msg}}
</div>
<h1 style="text-align: center;">Add Tag</h1>
<mat-card>
  <form (submit)="addTag(tagForm)" #tagForm="ngForm">
  <mat-form-field>
         <textarea matInput
           name="name"
           ngModel
           required
           minlength="3"
           placeholder="Enter Tag name"
           #name="ngModel"
         ></textarea>
         <mat-error *ngIf="name.invalid && name.touched">
           <mat-error *ngIf="name.errors?.required">Tag nam is required</mat-error>
           <mat-error *ngIf="name.errors?.minlength">Tag name must contain 3 characters at least</mat-error>
         </mat-error>
  </mat-form-field>
<button
mat-raised-button
color="accent"
type="submit"
[disabled]="tagForm.invalid"
>Save</button>
</form>
</mat-card>
</div>
