<div class="alert alert-success" role="alert" *ngIf="successMessage.showSuccess">
  {{successMessage.msg}}
</div>
<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> <img [src]="imgURL+(+id+5)" width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">{{post?.user?.firstName}} {{post?.user?.lastName}}</span> <small class="text-primary">{{post?.user?.roles[0].name}}</small> </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"><button *ngIf="activeUser?.id == post?.user?.id" class="btn" (click)="open(content)"><i class="fa fa-pen"></i></button>  <small class="mr-2">{{durationTime()}}</small></div>
                  </div>
                <div class="p-2">
                  <h2>{{post?.title}}</h2>
                    <p class="text-justify">{{post?.description}}</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                        <div class="d-flex flex-row muted-color"> <span>{{comments?.length}} comments</span> </div>
                    </div>
                    <hr>
                    <div class="comments">
                        <div class="d-flex flex-row mb-2" *ngFor="let comment of comments">
                           <img [src]="imgURL+(+comment.user_id+5)" width="40" class="rounded-image">
                            <div class="d-flex flex-column ml-2"> <span class="name">{{userName(comment)}}</span> <small class="comment-text">{{comment.text}}</small>
                                <div class="d-flex flex-row align-items-center status"><small>{{duration(comment.createdAt)}}</small> </div>
                            </div>
                        </div>
                        <form class="comment" [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
                            <div class="form-group">
                            <input

                             formControlName="text"
                             type="text" name="text"
                             placeholder="Enter your comment"
                             class="form-control">
                             <!-- <div *ngIf="text?.errors && (text?.invalid || text?.touched)">
                                  <h3 class="text-danger" *ngIf="text?.errors?.required && text?.touched">comment is required</h3>
                              </div> -->
                           </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
                        <form #postUpdateForm="ngForm" novalidate (ngSubmit)="onSubmitUpdate()">
                          <div class="form-group">
                          <label class="form-control-label text-muted">Title :</label>
                          <input
                          [(ngModel)]="updatedPost.title"
                          #tiltle="ngModel"
                          [class.is-invalid]="tiltle.invalid && tiltle.touched"
                          type="text"
                          class="form-control"
                          name="tiltle"
                          minlength="6"
                          required>
                          <small class="text-danger"
                          [class.d-none]="!tiltle.errors?.required || tiltle.untouched"
                          >Title is required</small>
                          <small class="text-danger"
                          [class.d-none]="!tiltle.errors?.minlength || tiltle.untouched"
                          >Title must be at least 6 charachters long</small>
                          </div>
                          <div class="form-group">
                          <label class="form-control-label text-muted">Description :</label>
                          <input
                          [(ngModel)]="updatedPost.description"
                          #description="ngModel"
                          [class.is-invalid]="description.invalid && description.touched"
                          type="text"
                          class="form-control"
                          name="description"
                          minlength="6"
                          required>
                          <small class="text-danger"
                          [class.d-none]="!description.errors?.required || description.untouched"
                          >Description is required</small>
                          <small class="text-danger"
                          [class.d-none]="!description.errors?.minlength || description.untouched"
                          >Description must be at least 6 charachters long</small>
                          </div>
                          <div class="row justify-content-center my-3 px-3">
                          <button class="btn btn-success" (click)="modal.close('Save click')" type="submit" [disabled]="postUpdateForm.invalid" >Save</button>
                          </div>
                        </form>
</div>
</ng-template>
