<div class="alert alert-danger" role="alert" *ngIf="errorMessage.show">
  {{errorMessage.msg}}
</div>
<div class="container px-4 py-5 mx-auto">
                <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-10 my-5">
                <h1 style="text-align: center;">Add User</h1>
    <div class="form-group">
      <select
       (blur)="validateposition(position.value)"
       (change)="validateposition(position.value)"
       class="form-select is-invalid"
       name="position"
       [(ngModel)]="defaultPosition"
       required
       [class.is-invalid]="position.invalid && position.touched"
        #position="ngModel">
        <option value="default">Choose a position</option>
        <option *ngFor="let position of positions" [value]="position.p_id">{{position.p_name}}</option>
      </select>
      <div class="text-danger" [class.d-none]="!positionHasError || position.untouched">Please choose a position</div>
    </div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                          <div class="form-group">
                           <label class="form-control-label text-muted">First Name : </label>
                            <input
                            [class.is-invalid]="firstName?.invalid && firstName?.touched"
                             formControlName="firstName"
                             type="text"
                             name="firstName"
                             placeholder="Enter First Name"
                             class="form-control">
                             <div *ngIf="firstName?.errors && (firstName?.invalid || firstName?.touched)">
                                <h3 class="text-danger" *ngIf="firstName?.errors?.required && firstName?.touched">First Name is required</h3>
                            </div>
                           </div>
                            <div class="form-group">
                           <label class="form-control-label text-muted">Last Name : </label>
                            <input
                            [class.is-invalid]="lastName?.invalid && lastName?.touched"
                             formControlName="lastName"
                             type="text"
                             name="lastName"
                             placeholder="Enter First Name"
                             class="form-control">
                             <div *ngIf="lastName?.errors && (lastName?.invalid || lastName?.touched)">
                                <h3 class="text-danger" *ngIf="lastName?.errors?.required && lastName?.touched">Last Name is required</h3>
                            </div>
                           </div>
                            <div class="form-group">
                           <label class="form-control-label text-muted">Password</label>
                            <input
                            [class.is-invalid]="password?.invalid && password?.touched"
                            formControlName="password"
                            type="text"
                            name="password"
                            placeholder="Enter password"
                            class="form-control">
                            <div *ngIf="password?.errors && (password?.invalid || password?.touched)">
                                  <h3 class="text-danger" *ngIf="password?.errors?.required && password?.touched">Password is required</h3>
                                  <h3 class="text-danger" *ngIf="password?.errors?.minlength && password?.touched">Password must be at least 6 characters</h3>
                            </div>
                           </div>
                          <div class="form-group">
                           <label class="form-control-label text-muted">Email</label>
                            <input
                            formControlName="email"
                            [class.is-invalid]="email?.invalid && email?.touched"
                            type="email"
                            name="email"
                            placeholder="Enter email"
                            class="form-control">
                            <div *ngIf="email?.errors && (email?.invalid || email?.touched)">
                                    <h3 class="text-danger" *ngIf="email?.errors?.required && email?.touched">Email is required</h3>
                                    <h3 class="text-danger" *ngIf="email?.errors?.email && email?.touched">Invalid email</h3>
                            </div>
                           </div>
                           <div class="form-group">
                           <label class="form-control-label text-muted">Account password</label>
                            <input
                            [class.is-invalid]="account?.invalid && account?.touched"
                            formControlName="account"
                            type="text"
                            name="account"
                            placeholder="Enter account password"
                            class="form-control">
                            <div *ngIf="account?.errors && (account?.invalid || account?.touched)">
                                  <h3 class="text-danger" *ngIf="account?.errors?.required && account?.touched">Account password is required</h3>
                                  <h3 class="text-danger" *ngIf="account?.errors?.minlength && account?.touched">Account password must be at least 6 characters</h3>
                            </div>
                           </div>
                          <div class="row justify-content-center my-3 px-3">
                          <button class="btn-block btn-color" type="submit"  >ADD</button>
                          <!-- [disabled]="registerForm.invalid" -->
                          </div>
                        </form>
                    </div>
                </div>
            </div>
